@import "vendor/bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

body, html {
    font-family: 'Lato';
    background: #e3e3e3;
    height: 100%;
}

hr {
	border-top: 3px solid #cfcfcf;
    border-bottom: 1px solid #fff;
}

.no-padding {
	padding: 0px !important;
}

.fa-btn {
    margin-right: 6px;
}

ul {
	list-style: none;
	padding: 0px;
}

.mapbox-logo {
	display: none;
}

.leaflet-container .leaflet-control-attribution {
	display: none !important;
}

.leaflet-popup-content {
	padding: 0px !important;	
}

.table-responsive {
	background: #ffffff;
	padding: 5px;
	border: 3px solid #e3e3e3;
}

.form-group {
	.input-icon {
		position: absolute;
		z-index: 1;
	    margin-top: 12px;
	    margin-left: 12px;
	    color: #a0a0a0;
	}

	input, select {
		padding-left: 35px;
		border-radius: 0;
    	height: 40px;
	}

	input[type="checkbox"] {
		height: 13px;
	}

	input[type="radio"] {
		height: 13px;
		margin-right: 5px;
		margin-top: 14px !important;
    	margin-bottom: 13px !important;
	}

	.first-radio {
		margin-left: 40px;
	}

	label {
		vertical-align: middle;
		margin-right: 10px;
	}

	.custom-form {
		.input-icon {
		    margin-top: 34px;
		}

		span {
			display: block;
		    color: #606060;
		    margin-bottom: 2px;
		}
	}

	.help-block {
		color: #a94442 !important;
	}

	.input-divider {
		padding-top: 9px;
	    text-align: center;
	    font-weight: bold;
	}

	.input-half {
		padding-left: 10px;
	}
}

.panel {
	border: 0px;
}

.panel-default {
	.panel-heading {
		color: #fff;
    	background-color: #F03131;
    	border-color: #ddd;
    }
}

.breadcrumb {
	margin-bottom: 0px;
	background: #2674CE;
	border-radius: 0px;

	li {
		a {
			color: #ffffff;
		}
	}

	.active {
		color: #B9D5F5;
	}
}

.navbar {
	margin-bottom: 0px;
}

.navbar-default {
	background-color: #399BFE;
    border: 0px;
    border-radius: 0px;
    z-index: 3;

    .navbar-collapse, .navbar-form {
    	border: 0px !important;
    }
}

.navbar-nav {
	li {
		.dropdown-menu {
			background: #2674ce;
		}

		a {
			&:hover {
				background: #52a7fe !important;
			}

			&:focus {
				color: #ffffff;
			}
		}
	}

	.open {
		background: #2674ce;

		a {
			&:focus {
				background: #2674ce !important;
			}
		}

		li {
			a {
				&:hover {
					background: #52a7fe;
					color: #ffffff !important;
				}
			}
		}
	}

	.active {
		a {
			background: #2674ce !important;
		}
	}
}

.navbar-brand {
	color: #ffffff !important;
	background: #F79232 !important;
}

.nav {
	li {
		a {
			color: #ffffff !important;
		}
	}
}

.navbar-collapse {
	border: 0px !important;
	border-top: 1px solid #4A9A3B !important;
}

.navbar-toggle {
	border-color: #2674ce !important;
    background: #3683DB;

    &:focus {
    	background: #2674ce !important;
    }

    &:hover {
    	background: #52a7fe !important;
    }
}

.icon-bar {
	background: #ffffff !important;
}

.remove {
	display: none;
}

.hide {
	visibility: hidden;
}

.show {
	visibility: visible;
}

.no-margin {
	margin: 0px;
}

.no-margin-bottom {
	margin-bottom: 0px;
}

.no-margin-top {
	margin-top: 0px;
}

.odd {
	background: #f5f5f5;
}

.optional {
	color: #d0d0d0 !important;	
}

.required {
	color: #D66868 !important;
}

.guest-bg {
	background: #FB8E03;

	.panel {
		box-shadow: 3px 4px 12px #303030;
	}
}

.guest-button {
	margin-right: 3px;
	margin-bottom: 5px;
	width: 122px;
	border-radius: 2px;
}

.tw-logo {
	margin-top: 30px;
}

.top-30 {
	margin-top: 30px;
}

.top-50 {
	margin-top: 50px;
}

.top-70 {
	margin-top: 70px;
}

.top-100 {
	margin-top: 100px;
}

.forgot-password {
	margin-left: -12px;
	margin-bottom: -20px;
	color: #337AB7;
}

.forgot-password-lbl {
	padding-left: 0px !important;
    margin-left: 15px;
}

.page-title-container {
	background: #fff;
    margin: 0px;
    padding: 15px 20px 20px 20px;
    border-bottom: 2px solid #cdcdcd;

    h3 {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	p {
		color: #808080;
		margin-top: -5px;
	}
}

#locator-sidebar {
	position: absolute;
	left: 0;
	z-index: 2;
	width: 80px;
    background: #303030;
    height: 100%;

    ul {
    	li {
    		padding: 17px;
    		text-align: center;
    		cursor: pointer;

    		i {
    			font-size: 15px;
    			color: #9f9f9f;
    		}

    		p {
    			color: #f0f0f0;
			    margin-top: 3px;
			    margin-bottom: 0px;
    		}

    		&:hover {
    			background: #5C80EA;

    			i {
    				color: #ffffff;
    			}

    			p {
    				color: #ffffff;
    			}
    		}
    	}
    }
}

#sidebar {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2;
    background: #303030;
    height: 100%;
    padding: 0px;

    .sidebar-divider {
    	height: 10px;
    	width: 100%;
    	margin-top: 67px;
    }

    .badge {
    	margin-left: 5px;
    }

    a {
    	text-decoration: none;
    }

    p {
	    color: #ffffff;
	    padding: 10px;
	    padding-bottom: 5px;
	    margin-bottom: 0px;
    }

    ul {
    	li {
    		cursor: pointer;
    		color: #9f9f9f;
    		padding: 15px 10px;
    		background: transparent;

    		i {
    			font-size: 13px;
    			color: #9f9f9f;
    			margin-right: 10px;
    		}

    		p {
    			color: #f0f0f0;
			    margin-top: 3px;
			    margin-bottom: 0px;
    		}

    		.selected {
    			float: right;
			    color: #5CD872;
			    font-size: 18px;
			    margin-top: 1px;
    		}

    		&:hover {
    			color: #ffffff;
    			background: #202020;

    			i {
    				color: #ffffff;
    			}

    			.selected {
    				color: #5CD872;
    			}

    			p {
    				color: #ffffff;
    			}
    		}
    	}

    	.active {
    		background: #202020;
    	}
    }
}

.sidebar-item-active {
	background: #3c5fc4;

	i {
		color: #ffffff !important;
	}

	p {
		color: #ffffff !important;
	}
}

.sidebar-search-container {
	input {
    	border: 0px;
	    border-radius: 0px;
	    background: #404040;
	    color: #ffffff;
	    padding: 20px 10px 20px 32px;
	    margin-bottom: 10px;
	    border-bottom: 1px solid #585858;
    }

    i {
        position: absolute;
	    z-index: 1;
	    margin-top: 124px;
	    margin-left: 10px;
	    font-size: 13px;
	    color: #9f9f9f;
    }
}

#sidebar-content-container {
	display: none;
	position: absolute;
	left: 0;
	z-index: 1;
	width: 300px;
	background: rgba(0, 0, 0, 0.6);
	height: 600px;
	margin-left: 80px;
	padding: 8px;

	input[type="checkbox"] {
	  margin-top: -1px;
	  vertical-align: middle;
	  margin-right: 10px;
	}

	.title {
		padding: 7px 0px 16px 0px;
	    width: 100%;
	    color: #fff;
	    text-align: center;
	}
}

#sidebar-show {
	display: none;
	position: absolute;
    z-index: 1;
    background: #303030;
    padding: 15px 20px;
    border-radius: 2px;
    font-size: 20px;
    color: #9f9f9f;
    margin: 15px 0px 0px 15px;
    cursor: pointer;

    &:hover {
		background: #5C80EA;

		i {
			color: #ffffff;
		}

		p {
			color: #ffffff;
		}
	}
}

#map {
	height: 100%;
}

#search-container {
	display: none;
	width: 500px;
    position: absolute;
    z-index: 1;
    background: #ffffff;
    padding: 10px 10px 10px 10px;
    left: 0;
    right: 0;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
	box-shadow: 3px 3px 5px #909090;

    i {
    	position: absolute;
	    margin-top: 19px;
	    margin-left: 10px;
	    color: #808080;
    }

    .search-input {
        display: inline-block !important;
    	width: 88%;
    	padding-left: 35px;
    	padding-right: 35px;
    	border: 0px;
    	box-shadow: none;
    }

    .search-button {
    	display: inline-block !important;
    }
}

.search-filter-container {
	display: none;
	margin-top: 18px;
}

.add-button {
	margin-right: 5px;
}

.hide-filter-button {
	display: none;
}

.action-button {
	padding: 6px 7px 6px 12px;
}

.header-icon {
	background: #4A4FE0;
    color: #f0f0f0;
    font-size: 18px;
    padding: 10px 9px 10px 11px;
    border-radius: 50%;
    margin-right: 7px;
}

.sub-header {
	margin-left: 52px;
    margin-top: -10px;
}

#loader {
    position: fixed;
    z-index: 999; 
    top: 0;
    bottom: 0;
    margin-top: -70px;
    width: 100%;
    background: #ffffff;
    overflow: hidden;
    transition: background 1s ease-out;
    -webkit-transition: background 1s ease-out;

    .done {
    	background:rgba(255, 255, 255, 0);
    }

    .hide {
    	display: none;
    }

    .circles-loader {
    	position:fixed;
	    left:50%;
	    top:50%;
    }
}

.popup-header {
	text-align: center;
	padding: 20px 10px 10px 10px;
	background: #426ADA;
	color: #ffffff;
	width: 100%;

	h1 {
		font-size: 25px;
		text-transform: uppercase;
	}

	p {
		color: #BDCEFB;
	}
}

.popup-body {
	padding: 20px 15px 10px 15px;
}

.inner-container {
	padding-right: 0px;
	padding-left: 0px;
	border: 10px solid #e3e3e3;
	border-top: none;
	border-bottom: none;
}

.line-chart {
	min-width: 310px;
	height: 400px;
	margin: 0 auto;
	background: #ffffff;
	margin-top: 10px;
	padding-top: 10px;
	border: 3px solid #e3e3e3;
}

.pie-chart {
	min-width: 310px;
	height: 400px;
	max-width: 600px;
	margin: 0 auto;
	background: #ffffff;
	border: 3px solid #e3e3e3;
}

.search-by {
	margin-right: 10px;
}

.page-add-container {
	margin-top: 20px;
	margin-bottom: 10px;	
}

#bottom-nav {
	position: absolute;
	z-index: 2;
	bottom: 0;
	width: 100%;
	background: #303030;

	ul {
		.btn-group {
			background: #337AB7;
		}

		li {
			display: inline-block;
			cursor: pointer;

			i {
				color: #fff;
    			font-size: 15px;
				margin-top: 4px;
			}
		}
	}

	.bottom-nav-list {
		margin: 10px;
	}
}